{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RescueMatch</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="site-header">
    <h1>RescueMatch</h1>

    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'browse' %}">Browse Animals</a>
        <a href="{% url 'manage_animals' %}">Rescue Centre Portal</a>
    </nav>
</header>
    <main class="delete-container">
        <h1>Delete Animal Listing</h1>

        <p>Are you sure you want to delete <strong>{{ animal.name }}</strong>?</p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn danger-btn">Yes, Delete</button>
            <a href="{% url 'manage_animals' %}" class="btn">Cancel</a>
            <a href="{% url 'manage_animals' %}" class="btn">Back</a>
        </form>
    </main>

</body>
</html> 