{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>RescueMatch</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="home-page">
    

<header class="site-header">
    <h1>RescueMatch</h1>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'browse' %}">Browse Animals</a>
        <a href="{% url 'about' %}">About</a>
        <a href="/admin/">Admin</a>
    </nav>
</header>

<section class="hero">

    <div class="hero-card">
        <h2>Find your perfect companion</h2>
        <p>
            RescueMatch helps users browse animals from approved rescue centres
            and learn more about each animal before making contact.
        </p>
        <a href="{% url 'browse' %}" class="btn">Browse Animals</a>
    </div>

    <div class="hero-side">
        <p>
            Thinking about adopting?
        </p>

        <a href="{% url 'about' %}" class="side-link">
            Learn more about responsible adoption →
        </a>
    </div>

</section>
</body>
</html>